/* IMPORTANDO AS FONTES RIGHTEOUS e SARALA*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/* RESET DE CSSs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 50px;
    background-color: #FFF2E7;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

}

.cabecalho-menu-item:hover{
    color:  black;
    background-color: #a8b7c4;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-texto{
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-texto-h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#FFF2E7;
}

.conteudo-principal-texto-h2{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ccdfee;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 70px;
}

.conteudo-secundario-h3{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-secundario-p{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ccdfee;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem{
    height: 48px;
    background-color: #FFF2E7;
    display: block;
    margin: 0 auto;
}